<article id="getbusy">
	<h1>Get Busy!</h1>
	<p>If you want to share your experience at Baan Munta Resort Khao Yai or Khao Yai National Park, 
	<a href="https://www.facebook.com/baan.munta.7"> visit us on Facebook page</a> and post your pictures
	and comments there!
	</p>
</article><!-- article -->