<article id="whoarewe">
	<h1>Who are we?</h1>
	<p>Baan Munta Resort Khao Yai is operated by Khun Kem (that's what everybody call our owner here).
	With the love of nature, she started Baan Munta many years ago and continue developing the resort.
	The land was completely empty when she started! The road, the lamps, the beautiful garden, and the 
	swimming pools inside were built bit-by-bit in later years.
	</p>
	<p>
	Now we have 10 bedroom clusters (can host up to 30 people) and many single houses for rent with
	a large seminar room for meetings. We'll still continue to develop with our green mind to
	keep the nature the way it is.
	</p>
	<p>
	For reservation, please call 081-643-4681 (Khun Khem) or 082-1901341 (Khun Duangmanee). Email: kemavadee@hotmail.com. Please make a deposit of 50% to this bank account:
	</p>
	<p>
	Account Name: Kemavadee Uerivojnangkoorn 
	Account Number: 1574514004 
	(International Transfer: SWIFT CODE: BKKBTHBK )
	BANGKOK BANK 
	</p>
</article><!-- article -->