<article id="whoshouldcome">
	<h1>Welcome!</h1>
	<p>
	Planning on travelling to Khao Yai National Park? Searching for outdoor activies
	such as hiking, biking, or elephant riding! Here is the right place.
	</p>
	<p>
  BaanMunta.com offers easy and simple lifestyle near Khao Yai National Park. We have
  rooms for 2, 3, and 4 people in the cluster zone and entire houses for rent aroud
  our vast campus. You'll be surrounded by mountain on all sides! See our rooms and houses
  for more information.
	</p>
</article><!-- article -->