<footer>
	<section class="layout">
		<p>BaanMunta.com</p>
		<p>130 Ban Mai Samakkee, Moo Si, Pak Chong, Nakhon Ratchasima 30130, Thailand</p>
		<p>Tel: 081-643-4681, 082-1901341</p>
		<% include ../content/socialmedia.ejs %>
	</section><!-- layout -->
</footer><!-- footer -->