<header>
	<div class="hero">
		<section class="layout">
			<div class="branding">
				<a href="/">
					<img src="/images/misc/baanmunta.svg" alt="Baan Munta Resort Khao Yai">
				</a>
			</div><!-- branding -->
		</section><!-- layout -->
	</div><!-- hero -->

	<div class="navigation">
		<section class="layout">
			<ul class="nav">
				<li><a href="/"><i class="icon-home">Home</i></a></li>
				<li><a href="/rooms"><i class="icon-user">Booking</i></a></li>
			</ul><!-- nav -->
		</section><!-- layout -->
	</div><!-- navigation -->
</header>